:root {
  --color-white: #ffffff;
  --color-black-blue: #42567a;
  --color-black-blue-border: rgba(93, 95, 239, 0.1);
  --color-bg: #f4f5f9;
  --color-blue: #3877ee;
  --color-iris: #5d5fef;
  --color-fucsia: #ef5da8;
  --main-gradient: linear-gradient(var(--color-blue), var(--color-fucsia));
}
